
body{
	margin: 0;
}

header{
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	overflow: auto;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	padding-left: 18px;
	padding-top: 18px;
	margin: 0 0 0 150px;
	display: inline-block;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 3px solid #cccccc;
	padding-bottom: 15px;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

ul {
	list-style-type: none;
	color: #777777;
	float: right;
	margin: 30px 250px 0 0;
}

ul li {
	color: #777777;
	content: "|";
	padding: 5px 10px;
	display: inline-block;
}

footer{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	padding: 20px;
	text-align: center;
	background-color: #555555;
	height: 90px;
    color: #ffffff;
	border-top: 5px solid #4aaaa5;
	margin-top: 20px;
}

.mainContent{
	display: inline-block;
	width: 650px;
	border: 1px solid #dddddd;
	margin: 20px 0 0 150px;
	background-color: #ffffff;
	position: relative;
	overflow: auto;
}

#socialWrapper{
	width: 270px;
	border: 1px solid #dddddd;
	float: right;
	text-align: center;
	margin: 20px 250px 0 0;
	background-color: #ffffff;
}

.profilePicture{
	width: 240px;
	height: 330px;
	float: left;
	margin: 0 15px 0 0;
}

.h2Tweak{
	padding-left: 15px;
}

.portImage{
	width: 250px;
	height: 180px;
	position: relative;
}

.portItems{
	font-weight: bold; 
	color: #ffffff;  
	height: 45px; 
	width: 120px;
	background-color: #4aaaa5;
	position: absolute;
	left: 0;
	bottom: 0;
}

#image1{
	position: relative;
}

#image2{

}

#image3{

}

#image4{

}




