
body{
	margin: 0;
}

header{
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	overflow: auto;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	padding-left: 18px;
	padding-top: 18px;
	margin: 0 0 0 195px;
	display: inline-block;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 3px solid #cccccc;
	padding-bottom: 15px;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	text-align: center;
	padding-top: 18px;
	margin-left: 20px;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-right: 5px;
}

ul {
	list-style-type: none;
	color: #777777;
	float: right;
	margin: 30px 188px 0 0;
}

ul li {
	color: #777777;
	border-left: 1px solid black;
	padding: 5px 10px;
	display: inline-block;
}

footer{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	padding: 20px;
	text-align: center;
	background-color: #555555;
	height: 90px;
    color: #ffffff;
	border-top: 5px solid #4aaaa5;
	margin-top: 20px;
}

form{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	padding-left: 20px;
	color: #777777;
}

.mainWidth{
	width: 960px;
	margin: 0 auto 0 auto;
}

.mainContent{
	display: inline-block;
	width: 650px;
	border: 1px solid #dddddd;
	margin: 20px 0 0 0;
	background-color: #ffffff;
}

#socialWrapper{
	width: 270px;
	border: 1px solid #dddddd;
	float: right;
	text-align: center;
	margin: 20px 0 0 0;
	background-color: #ffffff;
}

.profilePicture{
	width: 240px;
	height: 330px;
	float: left;
	margin: 0 15px 0 0;
}

.h2Tweak{
	padding-left: 15px;
}

.portImage{
	width: 250px;
	height: 180px;
	position: relative;
	display: inline-block;
	
}

.portItems{
	font-weight: bold; 
	color: #ffffff;  
	height: 30px; 
	width: 98%;
	text-align: center;
	padding-top: 10px;
	background-color: #4aaaa5;
	position: absolute;
	bottom: 0;
	left: 0;
}

.portImage img{
	width: 100%;
	height: 100%;
}

#image1{
	margin: 0 12px 12px 60px;
}

#image2{
	margin: 0 0 12px 12px;
}

#image3{
	margin: 12px 12px 20px 60px;
}

#image4{
	margin: 12px 0 20px  12px;
}





